//Світла тема
* {
    margin: 0;
    padding: 0;
}

.main-header {
    z-index: 2;
    width: 100%;
    background-color: #FEF9C7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto Slab";
    .logo {
        width: 258px;
        height: 61px;
        cursor: pointer;
        margin-left: 10px;
        margin-top: 10px;
    }

    .user-panel {
        margin-right: 30px;
        cursor: pointer;
        user-select: none;
    }
}

.nav-link {
    color: #000;
    text-decoration: none !important;

    &:hover {
        text-decoration: underline;
    }
}

.main-footer {
    width: 100%;
    line-height: 42px;
    background-color: #FEF9C7;
    font-family: "Roboto Slab";
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, .25);
    display: flex;
    justify-content: space-between;

    img {
        width: 20px;
        height: 20px;
    }

    .link:first-child {
        margin-left: 49px;
    }
}

.link-container {
    display: flex;
    gap: 32px;

    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;

        span {
            margin-left: 5px;
        }

        &:hover {
            color: #1766FF;
        }
    }
}

.change-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 24px;
        height: 24px;
    }
}

//Темна тема
.main-header.dark {
    background-color: #3a3c3d;
    color: #d6d2bc !important;
    .logo {
        filter: invert(50%) sepia(98%) saturate(108%) hue-rotate(211deg) brightness(270%) contrast(600%);
    }
}
.nav-link.dark {
    background-color: #3a3c3d;
    color: #d6d2bc;
}

.main-footer.dark {
    background-color: #3a3c3d;
    color: #d6d2bc;

    img {
        filter: invert(95%) sepia(10%) saturate(400%) hue-rotate(7deg) brightness(90%) contrast(88%);
    }
}
