* {
    margin: 0;
    padding: 0;
}

.main-header {
    width: 100%;
    background-color: #FEF9C7;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 258px;
        height: 61px;
        cursor: pointer;
        padding-top: 9px;
    }

    .user-panel {
        margin-right: 30px;
        cursor: pointer;
        user-select: none;
    }

}

.nav-link {
    color: #000;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.main-footer {
    width: 100%;
    height: 38px;
    background-color: #FEF9C7;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, .25);
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

    img {
        width: 20px;
        height: 20px;
    }

    .link:first-child {
        margin-left: 49px;

    }

    

}

.link-container{
    display: flex;
    gap: 32px;

    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;

        span {
            margin-left: 5px;
        }

        &:hover {
            color: #1766FF;

        }
    }
}

.sound-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 24px;
        height: 24px;
    }
    margin-right: 32px;
}