//Світла тема

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.key {
    height: 45px;
    margin: 1px;
    text-align: center;
    border-radius: 1px;
    background-color: #f1f0f0;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    transition: background-color 0.3s ease;
    font-family: "Roboto Slab";

    &:hover {
        background-color: #333;
        color: white;
    }
}

.key-small {
    flex: 1;
}

.key-medium {
    flex: 2;
}

.key-large {
    flex: 3;
}

.key-xlarge {
    flex: 4;
}

.key-space {
    flex: 10;
}

.key.active {
    color: white;
    background-color: #42403e;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
    width: 100%;
}

.display {
    margin-bottom: 20px;
}

.keyboard {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEF9C7;
    border-radius: 15px;
    width: 43%;
   margin-top: 20px;
    min-width: 800px;
}

.key-label {
    display: block;
    line-height: 1.2;
}

.col1 {
    background-color: #8ec07c;
}

.col2 {
    background-color: #b8bb26;
}

.col3 {
    background-color: #fabd2f;
}

.col4 {
    background-color: #83a698;
}

.col5 {
    background-color: #d3869b;
}

.col6 {
    background-color: #e51d3b;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
        background-color: red;
        color: white;
    }
    100% {
        transform: scale(1);
    }
}

.pulsate {
    animation: pulsate 0.5s ease-in-out;
}

//Темна тема

.key.dark {
    background-color: #333;
    color: #d6d2bc;

    &:hover {
        background-color: #d6d2bc;
        color: #333;
    }
}

.key.active.dark {
    background-color: #d6d2bc;
    color: #42403e;
}

.keyboard.dark {
    background-color: #3a3c3d;
    color: #fff;
}

.col1.dark {
    background-color: #4f6b49;
}

.col2.dark {
    background-color: #747a19;
}

.col3.dark {
    background-color: #9f7d1d;
}

.col4.dark {
    background-color: #495b54;
}

.col5.dark {
    background-color: #7c4d5a;
}

.col6.dark {
    background-color: #700e1b;
}
