
.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  text-align: center;
}

.table-container {
  max-height: 600px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #e7e7e7 #c7c0a5;
}

.custom-table th, .custom-table td {
  padding: 12px;
}

.custom-table th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #FFFEEF;
}

.custom-table tr:nth-child(even) {
  background-color: #FFFEEF;
}

.modal {
  font-family: "Roboto Slab";
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background-color: #FEF9C7;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  border-radius: 8px;
  position: relative;
  transition: transform 0.3s ease;
  transform: translateY(-50px);
  max-height: 900px;
}

.modal.open .modal-content {
  transform: translateY(0);
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
}

.title {
  text-align: center;
  margin-bottom: 5px;
}

.leaderboard-container {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 100%;
}

.leaderboard-img {
  width: 25px;
  height: 25px;
  margin-top: 23px;
}



.dark{
  .modal-content {
  background-color: #3a3c3d;
}
  .table-container{
    scrollbar-color: #888 #2f3338;
  }

  .custom-table th {
    background-color: #2f3338;

  }

  .custom-table tr:nth-child(even) {
     background-color: #2f3338;

  }
  .leaderboard-container .leaderboard-img {
    filter: invert(95%) sepia(10%) saturate(400%) hue-rotate(7deg) brightness(90%) contrast(88%);
  }
}
