$toolbar-margin: 20px;

.home {
    background-color: #FFFEEF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toolbar-container {
    display: flex;
    justify-content: center;

    .toolbar {
        background-color: #FEF9C7;
        height: 48px;
        margin-top: 30px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        border-radius: 7px;
        font-size: 15px;
        color: #000;

        .empty-middle {
            flex: 1;
            display: flex;
            align-items: center;

            .speed-container,
            .accuracy-container {
                width: 200px;
                display: flex;
                align-items: center;
            }

            .speed-value,
            .accuracy-value {
                margin-left: 3px;
            }

            .speed {
                margin-right: 20px;
            }

            .accuracy {
                margin-right: 20px;
            }
        }


        .separator {
            border: 1px solid black;
            height: 31px;
            margin-left: 20px;
        }
    }
}

.navigation {
    display: flex;
    gap: 22px;
    transition: color ease-in-out 300ms;
    position: relative;

    p {
        cursor: pointer;
        z-index: 1;

        &.active {
            color: #1766ff;
        }
    }

    p:hover {
        color: #1766FF;

    }

    p:first-child {
        margin-left: $toolbar-margin;
    }

    p:last-child {
        margin-right: $toolbar-margin;
    }

    .animation {
        position: absolute;
        z-index: -1;
        background-color: #FEF9C7;
        line-height: 20px;
        transition: all ease-in-out 300ms;
        width: 100%;
        text-align: center;
        border-radius: 7px;
        top: 0;
    }

    &:hover {
        .move {
            top: -34px;
            z-index: 0;
        }
    }

}




.text-config {
    display: flex;
    gap: 22px;
    position: relative;
    margin-right: 20px;

    p {
        cursor: pointer;
    }

    p:first-child {
        margin-left: $toolbar-margin;
    }

    p:last-child {
        margin-right: $toolbar-margin;
    }

    p:hover {
        color: #1766FF;

    }

    .animation:last-child {
        position: absolute;
        z-index: -1;
        background-color: #FEF9C7;
        line-height: 20px;
        transition: all ease-in-out 300ms;
        width: 100%;
        text-align: center;
        border-radius: 7px;
        top: 0;
    }

    &:hover {
        .move:last-child {
            top: -34px;
            z-index: 0;

        }
    }
}

.reset-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;

    .reset-container {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        .reset-img {
            width: 18px;
            height: 18px;
            margin-right: 10px;
        }
    }

}

.animated-component {
    flex: 1;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.animated-component.active {
    opacity: 1;
    transform: translateX(0);
}
.positive {
    color: green;
}
.negative {
    color: red;
}


.time-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    p{
        cursor: pointer;

    }
    user-select: none;
}
