.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 330px;
    margin-top: 30px;
    gap: 10px;

    .players-row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 1000px;
        height: 29px;
        background: linear-gradient(to right, #483C3C, #645F5F);
        border-radius: 11px;
        color: white;

        .data {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            &:first-child {
                width: 200px;
                justify-content: start;
            }
            &:last-child {
                width: 200px;
                justify-content: center;
            }
            .user-avatar {
                width: 21px;
                height: 21px;
            }

            .fire {
                width: 17px;
                height: 21px;
            }

            .progress-bar {
                width: 600px;
                background-color: #000;
                height: 9px;
                position: relative;
                display: flex;
                align-items: center;
                border-radius: 7px;
                user-select: none;

                .progress-smooth {
                    height: 100%;
                    background-color: #6F7AD5;
                    border-radius: 7px;
                    transition: width ease-in 300ms;
                }

                .current-word {
                    // width: 10px;
                    padding: 1px 8px;
                    height: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, .5);

                }
            }

            .progress-bar::after {
                width: 300px;
                background-color: red;
                height: 9px;
                border-radius: 7px;
            }
        }
    }
}

.start-race-timer-container {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    z-index: 10;
}

.start-race-timer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    border: 1px solid black;
    background-color: rgba(182, 183, 185, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: red;
    border-radius: 10px;
}