.multiplayer-wrapper {
    font-family: "Roboto Slab";
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #FFFEEF;
    align-items: center;
    justify-content: space-between;
    .middle-container {
        flex-grow: 1;
    }
}

.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 330px;
    margin-top: 30px;
    gap: 10px;

    .players-row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 1000px;
        height: 29px;
        background: linear-gradient(to right, #483C3C, #645F5F);
        border-radius: 11px;
        color: white;

        .data {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            &:first-child {
                width: 200px;
                justify-content: start;
            }

            &:last-child {
                width: 200px;
                justify-content: center;
            }

            .user-avatar {
                width: 21px;
                height: 21px;
            }

            .fire {
                width: 17px;
                height: 21px;
            }

            .progress-bar {
                width: 600px;
                background-color: #000;
                height: 9px;
                position: relative;
                display: flex;
                align-items: center;
                border-radius: 7px;
                user-select: none;

                .progress-smooth {
                    height: 100%;
                    background-color: #6F7AD5;
                    border-radius: 7px;
                    transition: width ease-in 300ms;
                }

                .current-word {
                    // width: 10px;
                    padding: 1px 8px;
                    height: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: rgba(0, 0, 0, .5);

                }
            }

            .progress-bar::after {
                width: 300px;
                background-color: red;
                height: 9px;
                border-radius: 7px;
            }
        }
    }
    .current-user {
        background: linear-gradient(to right, #483C3C, #34436F);

    }
}

.start-race-timer-container {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    z-index: 10;
}
.start-race-timer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    border: 1px solid black;
    background-color: rgba(182, 183, 185, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: red;
    border-radius: 10px;
}

.saveRoom {
    text-align: center;
}
.result-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.result-container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .back {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        color: #000000;

        img {
            width: 32px;
            height: 20px;
        }
    }

    .content {
        display: flex;
        margin-top: 40px;
        .statistics {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            margin-right: 30px;
            .statistics-data {
                display: flex;
                flex-direction: column;
                gap: 4px;
                font-size: 14px;
                width: 150px;
                height: auto;
                background-color: #696565;
                border-radius: 10px;
                padding: 3px 26px;
                color: white;
            }
        }

        .statistics-race-result {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: center;
            // margin-top: 40px;

            .place-container {
                background: url('/src/assets/places.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 188px;
                height: 179px;

                .place-img {
                    display: flex;
                    gap: 5px;
                    width: 100%;
                    height: 100%;
                    justify-content: center;

                    .avatar {
                        width: 38px;
                        height: 38px;
                    }

                    .first-place {
                        display: flex;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                        position: relative;

                        img {
                            margin-top: -30px;
                        }
                    }

                    .third-place {
                        display: flex;
                        justify-content: center;
                        height: 100%;
                        width: 100%;

                        img {
                            margin-top: 8px;
                        }

                        position: relative;
                    }

                    .second-place {
                        display: flex;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                        position: relative;
                    }
                }
            }

            .text-result {
                background-color: #D9D9D9;
                border-radius: 12px;
                padding: 13px 18px;
                width: 606px;

                .incorrect-word {
                    color: red;
                }
            }
        }
    }
}

.animate::before {
    content: '';
    position: absolute;
    top: -100px;
    opacity: 0;
    display: block;
    background: url("/src/assets/confetti.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    animation: animateBefore 4s forwards;

}

.hidden {
    display: none;
}

@keyframes animateBefore {
    0% {
        opacity: 1;
        top: 0;
        top: -100px;
    }

    100% {
        opacity: 0;
        top: 50px;
    }
}

.multiplayer-wrapper.dark{
    background-color: #2f3338;
    color: #d6d2bc;

    .start-race-timer-container {
        background-color: rgba(72, 70, 70, 0.8);
    }
    .start-race-timer {
        border: 1px solid black;
        background-color: rgba(198, 198, 208, 0.7);
        color: #b6b29f;
    }
}

.toolbar.dark{
        background-color: #3a3c3d;
        color: #d6d2bc;
        .navigation{
            .single {
                color: #d6d2bc;
                transition: color ease-in-out 300ms;
            }
        }
        .separator{
            border: 1px solid #d6d2bc;
        }
    }



.result-container.dark {
    color: #d6d2bc;
    .back {
        color: #d6d2bc;
        img {
            filter: invert(95%) sepia(10%) saturate(400%) hue-rotate(7deg) brightness(90%) contrast(88%);
        }
    }

    .content {
        .statistics {
            .statistics-data {
                background-color: #696565;
                color: white;
            }
        }

        .statistics-race-result {
            .text-result {
                background-color: #5d5353;
                .incorrect-word {
                    color: red;
                }
            }
        }
    }
}

