//Світла тема

.text-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    user-select: none;
}

.text-container.dark {
    background-color: #727272;
    color: #d6d2bc;
}

.text {
    overflow: hidden;
    height: 120px;
    opacity: .25;
    filter: blur(2px);
    cursor: pointer;
    transition: opacity 0.3s ease, filter 0.3s ease;

    &.focused {
        opacity: 1;
        filter: none;
    }
}

.nested-text-container {
    width: 878px;
    font-size: 32px;
    font-family: 'system-ui';
    position: relative;
    display: flex;
}

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
    align-self: flex-end;
    cursor: pointer;

    .cursor-pointer {
        width: 25px;
        height: 25px;
    }

    .img-container {
        display: flex;
        align-self: center;
    }

    .hint {
        font-size: 22px;
        font-family: system-ui;
        margin-left: 5px;
    }
}

.text-input {
    position: absolute;
    z-index: -999;
    opacity: 0;
}

.words {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    user-select: none;
    color: black;
}

.words.dark {
    color: #d6d2bc;
}

.word {
    margin: .25em;
    margin-left: 0;
    margin-right: 0;
    letter-spacing: .15em;
}

.cursor {
    position: absolute;
    height: 1.2em;
    background-color: red;
    width: .05em;
    border-radius: 20px;
    top: 4px;
    transition: all ease-in;
    color: #d6d2bc;
}

@keyframes blink-caret {
    0%, 100% {
        text-decoration: none;
    }
    50% {
        text-decoration: underline;
    }
}

.hidden {
    display: none;
}

.wrongLetter {
    color: white;
    background-color: red;
}

.extraWord {
    color: white;
    background-color: red;
}

.correctLetter {
    color: grey;
}

.activeLetter {
    text-decoration: underline;
}

.blink {
    animation: blink-caret .8s step-end infinite;
}


//Темна тема

.text-container.dark {
    background-color: #727272;
    color: #d6d2bc;
}

.text.dark {
    opacity: .25;
    filter: blur(2px);

    &.focused {
        opacity: 1;
        filter: none;
    }
}

.nested-text-container.dark {
    font-size: 32px;

    .hint.dark {
        font-family: system-ui;
    }
}

.cursor-pointer.dark {
    filter: invert(95%) sepia(10%) saturate(400%) hue-rotate(7deg) brightness(90%) contrast(88%);
}

.words.dark {
    color: #d6d2bc;
}

.cursor.dark {
    color: #d6d2bc;
}
